---
layout: single
share: true
---

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script
  id="MathJax-script"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
></script>

<link rel="stylesheet" href="{{ '/assets/custom.css' | relative_url }}" />

<article class="post">
  <div class="categories">
    {% for category in page.categories %}
    <a
      href="{{ site.baseurl }}/categories/{{ category | slugify }}"
      class="category-capsule"
      >{{ category }}</a
    >
    {% endfor %}
  </div>

  <div class="post-content">{{ content }}</div>

  {% if page.references %}
  <footer class="post-footer">
    <h2>References</h2>
    <ul>
      {% for reference in page.references %}
      <li><a href="{{ reference }}" target="_blank">{{ reference }}</a></li>
      {% endfor %}
    </ul>
  </footer>
  {% endif %}
</article>
